<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.loushang.ue.product.dao.ProductMapper">
	
    <select id="getProductListByParam" resultType="org.loushang.ue.product.data.Product" parameterType="map">
        SELECT 
	           ID ,
			   PRODUCT_CODE,
			   PRODUCT_NAME,
			   PRODUCT_TYPE,
			   PRODUCT_NUM,
			   PRODUCT_DATE         
        FROM DEMO_PRODUCT 
        <where>
			<if test="productName != null and productName != ''">
		 	    PRODUCT_NAME like '%${productName}%'
			</if>
		</where>
		ORDER BY PRODUCT_CODE
    </select>

</mapper>